.close {
  color: Black;
}

.pop_content {
  position: absolute;
  top: 10%;
  /* left: 50%; */
  right:1%;
  width: 627px;
  height: 403px;
  background: #E0E6E6F2 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
}

.loginSectionItem {
  margin: 7px 35px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffffd0;
  border-color:#E0E6E6F2  ;
  margin-bottom: 10px;
  top: 63px;
  width: 558px;
  height: 53px;
}

.signInBtn {
  border-radius: 8px;
  background-color: #FF8500;
  border:1px solid black;
  top: 192px;
  left: 138px;
  width: 362px;
  height: 61px;
  margin-left:138px;
  margin-top:10px;
  border-color: #FF8500;
} 

.inputContainer i {
  position: absolute;
}
.inputContainer {
  width: 100%;
  margin-bottom: 10px;
}