.close {
  color: Black;
  width:36px;
  height:36px;
  opacity: 1;
  margin:15px;
  text-align: center;
  border-radius: 50%;
  background-image: url('../../images/closeIcon.png');
  background-size: cover;
  background-position: center;
}

.pop_content {
  position: absolute;
  top: 85px;
  /* left: 50%; */
  right:1%;
  width: 549px;
  height: 732px;
  background: white;
  border:3px solid #FF8500;
  opacity: 1;
}

.loginSectionItem {
  margin-left: 60px;
  width: 428px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #FF8500;
  margin-bottom: 14px;
  outline: none;
}

.signInBtn {
  border-radius: 8px;
  background-color: #FF8500;
  border:1px solid black;
  margin-left:49px;
  margin-top:10px;
  width: 452px;
  height: 71px;
  border-color: #FF8500;
} 

.inputContainer i {
  position: absolute;

}
.inputContainer {
  width: 100%;
  margin-bottom: 10px;
}