.navLink1 {
  color: white;
  /* border: solid;
  border-color: red;
  border-width: 1px; */
  /* width: 9%;
  margin-right: 1%; */
  width: 7%;
  /* text-align: center; */

  display: flex;
  text-align: center;
  justify-content: center;
  padding-right: 20px;
}
.navLink2 {
  color: white;
  /* border: solid;
  border-color: blue;
  border-width: 1px; */
  /* width: 9%;
  margin-right: 1%; */
  width: 11%;
  /* text-align: center; */

  display: flex;
  text-align: center;
  justify-content: center;
  padding-right: 20px;
}
.navLink3 {
  color: white;
  /* border: solid;
  border-color: white;
  border-width: 1px; */
  /* width: 9%;
  margin-right: 1%; */
  width: 12%;
  /* text-align: center; */

  display: flex;
  text-align: center;
  justify-content: center;
  padding-right: 20px;
}
.navLink4 {
  color: white;
  /* border: solid;
  border-color: cyan;
  border-width: 1px; */
  /* width: 9%;
  margin-right: 1%; */
  width: 14%;
  /* text-align: center; */

  display: flex;
  text-align: center;
  justify-content: center;
  padding-right: 20px;
}
.navLink5 {
  color: white;
  /* border: solid;
  border-color: orchid;
  border-width: 1px; */
  /* width: 9%;
  margin-right: 1%; */
  width: 16%;
  /* text-align: center; */

  display: flex;
  text-align: center;
  justify-content: center;
  padding-right: 20px;
}

.navLinkDD {
  color: white;
  padding-left: 30px;
  font-size: 26px;
  /* font-weight: 600; */
  /* style ={{
    fontSize:"26px",
    height:"20px",
    color:'white'
  }} */
}

.dropdownLink {
  /* border: dashed; */
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  /* color: white; */
}