.navLink1 {
  color: white;
  width: 7%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-right: 20px;
  font-weight: 600;
}
.navLink2 {
  color: white;
  width: 11%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-right: 20px;
  font-weight: 600;
}
.navLink3 {
  color: white;
  width: 12%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-right: 20px;
  font-weight: 600;
}
.navLink4 {
  color: white;
  width: 14%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-right: 20px;
  font-weight: 600;
}
.navLink5 {
  color: white;
  width: 16%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-right: 20px;
  font-weight: 600;
}

.navLinkDD {
  color: white;
  padding-left: 30px;
  font-size: 26px;
  font-weight: 600;
}

.dropdownLink {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}