/*The format on the grid is wrong.  font: normal normal bold 24px/29px SF Pro;
is not accepted by the CSS here. It didnt work as of now.
Do not enable this
        font-family: -apple-system, BlinkMacSystemFont;
It is breaking everything.

*/
.topBackground {
  background: url("./images/madmax-chef-cToNEm70cvE-unsplash@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 680px;
  width: 1920px inherit;
}

.gridcontainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.footerBackground {
  background-color: #F8BB17;
  height: 150px;
  position: relative;
  bottom:0;
}

.footerBackgroundNarrow {
  background-color: #F8BB17;
  height: 500px;
  position: relative;
}

.footerLogo {
    margin: 0;
    background: #F8BB17; 
    position: absolute;
    top: 45%;
    left: 80%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}
.findUs {
  position: absolute;
  left: 5%;
  top: 40%;
  margin-right: 30%;
  /*transform: translate(-50%, -50%);*/
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
  /*font-family: -apple-system, BlinkMacSystemFont;*/
  font: SF Pro;
  font-size: 24px/15px;
  font-weight: medium;
  /*margin-left: 370px;	*/
}
.footerLogoNarrow {
    margin: 0;
    background: white;
    border: solid;
    border-color: white;
    border-radius: 10px; 
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    /*font-family: -apple-system, BlinkMacSystemFont;*/
    font: SF Pro;
	font-size: 24px;
    font-weight:medium;	
}

.footerLinks {
    display: inline-block;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 200px;
}

.footerLinksNarrow {
    display: inline-block;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 200px;
}

.centerSubtitleText {
  text-align: center;
  color: white;
  font-size: 50px;
  white-space: nowrap;
  margin-top: 130px;
}

.centerSubtitleNarrow {
  text-align: center;
  color: white;
  font-size: 50px;
  white-space: nowrap;
  margin-top: 20px;
}

.centerSubText {
  text-align: center;
  color: white;
  white-space: nowrap;
  margin: 10px 0;
}
.centerImage {
  height: 140px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  margin-top: -125px;
}
.buttonsBelowTheLogo {
  height: 50px;
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 15px;
}
.centerSubTextNarrow {
  text-align: center;
  color: white;
  margin: 10px 20px;
  width: 90%;
}

.orangeButton {
  background-color: #ff9e19;
  color: black;
  min-width: 220px;
  width: max-content;
  text-align: center;
  padding: 6px 20px 6px 20px;
  border-radius: 30px;
  justify-self: center;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
  justify-content: center;
  border-width: 0;
}
input[type="zipCode"]:focus {
    outline: none !important;
}
.footerRight {
    display: inline-block;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 85%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 200px;
}

.footerRightNarrow {
    display: inline-block;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 200px;
}

.ambassadorButton {
  background-color: white;
  color: black;
  min-width: 200px;
  width: max-content;
  text-align: center;
  padding: 6px 20px 6px 20px;
  border-radius: 30px;
  justify-self: center;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
  justify-content: center;
}

.footerButton {
  background-color: #ff9e19;
  color: black;
  text-align: center;
  border-radius: 30px;
  justify-self: center;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
}

.signUpLink {
  background-color: #ff9e19;
  color: white;
  min-width: 200px;
  width: max-content;
  text-align: center;
  padding: 6px 20px 10px 20px;
  border-radius: 30px;
  justify-self: center;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
  justify-content: center;
}

.gridDisplayCenter {
  display: grid;
  justify-content: center;
  align-items: center;
}
.gridDisplayRight {
  padding: 9px;	 
  display: grid;
  justify-content: right;
  align-items: right;
}
.whiteStripe {
  top: 367px;
  left: -320px;
  width: 100%;
  height: 140px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;	
  margin-top: 30px;
}
.gridRightIcons {
  vertical-align: middle;
  margin-top: 5.9px;
  margin-right: 65px;
  margin-bottom: 2.8px;
  height: 50px;
  width: 50px;
}
.stepsHeaderForHowDoesSection {
  /*margin: 20px 20px 0 0px;*/
  /*flex: 1 1 30%;*/
  text-align: left;
  justify-content: left;
  align-items: left;
  /*display: grid;*/
  /*margin-left:auto;*/
}
.stepsHeader {
  /*margin: 20px 20px 0 0px;*/
  flex: 1 1 15%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  /*margin-left:auto;*/
}
.topRightText {
  position:absolute;
  top: 8px;
  right: 16px;	
}
.stepsNumber {
  display: inline;	
  /*width: 40px;
  height: 40px;*/
  /*border-radius: 20px;*/
  /*background-color: #ffba00;*/
  /*font-family: -apple-system, BlinkMacSystemFont;*/
  /*font: normal normal bold 19px/23px SF Pro;*/
  font-size: 19px/23px;
  font: SF pro;
  font-weight: bold;
}
input[type="zipCode"]::placeholder { 
  text-align: center;
  color:black;
  font-size:18px;
}
input[type='credentials']::placeholder {
	font:SF Pro;
	font-weight:medium;
	font-size:24px;
	color:black;
}
input[type='password']::placeholder {
	font:SF Pro;
	font-weight:medium;
	font-size:24px;
	color:black;
}
/*.stepsNumber {
  float: left;
  background-color: #ffba00;
  padding: 8px 14px;
  border-radius: 50%;
  font-weight: bold;
  margin-left: 0%;
}*/

/*.stepsNumber {
  float: left;
  background-color: #ffba00;
  padding: 8px 14px;
  border-radius: 50%;
  font-weight: bold;
  margin-left: 0%;
}*/

.stepsNumberNarrow {
  background-color: #ffba00;
  padding: 8px 14px;
  border-radius: 50%;
  font-weight: bold;
}

.stepsImage {
  display: inline;	
  margin: 0 auto 20px;
  border: 2px solid #F26522;
  padding: 15px;
  border-radius: 24px;
}
.stepsImageForPurchase {
  display: inline;	
  margin: 0 auto 20px;
  border: 2px solid #F26522;
  padding: 15px;
  border-radius: 24px;
  margin-top: -120px;
  margin-left:250px;
}
.stepsImageForChoose {
  display: inline;	
  margin: 0 auto 20px;
  border: 2px solid #F26522;
  padding: 15px;
  border-radius: 24px;
  margin-top: -150px;
  margin-left:240px;
}
.stepsImageForEnjoy {
  display: inline;	
  margin: 0 auto 20px;
  border: 2px solid #F26522;
  padding: 15px;
  border-radius: 24px;
  margin-top: -170px;
  margin-left:240px;	
}
.pathFromExploreToPickAPlan {
  position:relative;
  margin-left:10%;
  margin-top: -5%;
  /*width:65vh; */
  /*height: 50vh;*/
  /*width:100%;*/
}
.pathFromPurchaseToChoose {
  position:relative; 
  margin-left:100%;
  margin-top:-80%;
  /*width:100%;*/
  /*width:3vw;*/
  /*height: 10vh;*/	
}
.pathFromSelectMealsToEnjoy {
  position:relative;
  margin-left:62%;
  margin-top:-20%;  
  /*width:100vh;*/
  /*width:90%;*/
  /*width:50vh;*/	
}
.stepsTitle {
  float: left;
  margin-top: 9px;
  margin-left: 15px;
  font-weight: bold;
  font: SF Pro;
}

.stepsTitleNarrow {
  margin-top: 9px;
  margin-left: 15px;
  font-weight: bold;
}

.stepsContainer {
  /*display: inline-block;*/
  text-align: left;
}

.stepsTitle2 {
  font-weight: bold;
  /*font: normal normal bold 24px/29px;*/
  font-size: 24px/29px;
  font: SF Pro;
  /*font-family: -apple-system, BlinkMacSystemFont;*/
}

.stepsText {
  /*color: #979797;*/
  text-indent: 0em;
  font-size: 19px/23px;
  padding: 10px 15px;
  height: 138px;
  width:251px;
  /*font-family: -apple-system, BlinkMacSystemFont;*/
  font-weight: normal;
  font: SF Pro;
}
.stepsTextForExplore {
  /*color: #979797;*/
  text-indent: 0em;
  /*padding: 10px 15px;*/
  height: 138px;
  width:251px;
  margin-left: 160px;
  margin-top: -160px;
  /*font-family: -apple-system, BlinkMacSystemFont;*/
  /*font: normal normal normal 19px/23px SF Pro;*/
  font:SF Pro;
  font-weight:normal;
}

.stepsTextForPurchase {
  /*color: #979797;*/
  text-indent: 0em;
  font-size: 19px/23px;
  /*padding: 10px 15px;*/
  height: 138px;
  width:251px;
  margin-left: -160px;
  margin-top: 160px;
  font: SF Pro;
  font-weight: normal;
  /*font-family: -apple-system, BlinkMacSystemFont;*/  
}
.stepsTextMid {
  color: #979797;
  font-size: 15px;
  padding: 0 50px;
  height: 140px;
  margin-bottom: 80px;
}

.stepsTextNarrow {
  /*color: #979797;*/
  font-size: 15px;
  padding: 0 50px;
  height: 80px;
  font:SF Pro ;
  font-weight: normal;
  font-size: 24px;
  /*font-family: -apple-system, BlinkMacSystemFont;*/  
}

.stepsText2 {
  /*color: #979797;*/
  font-size: 24px/29px;
  padding: 0 100px;
  font-weight:normal;
  font: SF Pro;
  /*font-family: -apple-system, BlinkMacSystemFont;*/
}

.couponContainer {
  text-align: center;
  margin: 5px 50px;
  flex: 0 1 300px;
  height: 30vh;
  border-radius: 20px;
  box-shadow: 0px 3px 6px #00000029;
}

.couponImage {
  margin-top: 20px;
  margin-bottom: 20px;
}

.couponText {
  color: #979797;
  font-size: 19px;
  padding: 0 50px;
}

.partnerContainer {
  text-align: center;
  margin: 5px 50px;
  flex: 0 1 300px;
  height: 12vh;
}

.partnerContainerNarrow {
  text-align: center;
  border: solid;
  height: 30vh;
  justify-content: center;
}

.partnerCenteredNarrow {
    display: 'inline-block';
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.partnerImage {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
  width: inherit;
}

.partnerImageNarrow {
  margin-top: 10px;
  height: 100%;
  width: 60%;
}
.modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: auto;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal2 {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin-left:-30%;
  top: auto;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal3 {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin-left:-70%;
  top: auto;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.25);
}
.close {
  color: Black;
  float: right;
}
.close:hover {
  color: cyan;
  cursor: pointer;
}

button {
  border-radius: 10px;
  background-color: grey;
  outline: none;
}

button:hover {
  background-color: white;
}
.btn {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 42%;
  zoom: 1.5;
}
.ambassdorText {
  color: black;
}
.ambassdorText em {
  color: #F26522;
}
.modal_content {	
  background-color: white;
  position: relative;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #F26522;
}
.imageContainer {
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  height: 349px;
  width: 204px;
  border-radius: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.getStarted {
  position: relative;
  text-align:center;
  justify-self: center;
  align-self: center;	
  justify-content: center;
  /*align-items: center;*/  
  vertical-align: center;  
}
.howDoesContainer {
  position:relative;
  text-align: left;
  width: 100%;
  height: 60px;
  background: #F8BB17 0% 0% no-repeat padding-box;
  opacity: 1;	
  margin-top: 100px;
}
.howDoesText {
  position: relative;
  /*left: 16px;*/
  top: 10%;
  margin-top: -56px;
  margin-left: 200px;
  height: 29px;
  /*font-family: -apple-system, BlinkMacSystemFont;*
  font: normal normal bold 24px/29px SF Pro;/* */
  font-size: 24px/29px;
  font-weight: bold;
  font:SF Pro;
  letter-spacing: 0px;
}
.menuContainer {
  display: inline-block;
  text-align: center;
  margin: 0px 50px 50px;
  margin-left: 0px;
  margin-bottom:70px;
  height: 349px;
  width: 204px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.menuEye {
  opacity: 80%;
  float: left;
  height: 23%;
  margin: 2%;
}

.signUpPopUpHide {
  z-index: 1;
  display: none;
}

.signUpPopUpShow {
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  position: fixed;
  display: grid;
  background-color: rgba(255, 255, 255, 0.5);
}

.signUpContainer {
  position: relative;
  justify-self: center;
  align-self: center;
  display: block;
  border: orange solid thick;
  background-color: white;
  border-radius: 20px;
  height: 80vh;
  width: 500px;
  z-index: 2;
}

.itemName {
  white-space: normal;
  border: 2px solid #F26522;
  margin-top: -15px;
  margin-left: 10px;
  width: 100%;
  height: 50px;
  padding: 10px;
  /*font-family: -apple-system, BlinkMacSystemFont;*/
  font: SF Pro;
  font-size:14px/22px;
  font-weight: bold;
}

.carouselButtons {	
  height: 50px;
  width: 30px;
  border: none;
  border-radius: 20px;
  text-align: center;
  color: #F8BB17;
  /*padding: 0px 20px;
  background-color: #F8BB17;*/
  /*margin: 120px;*/
}

.carouselButtons:focus {
  outline: none;
}