.model_content {
  position: absolute;
  top: 85px;
  right:1%;
  width: 549px;
  height: 1047px;
  background: white;
  border:3px solid #FF8500;
  opacity: 1;
  /* margin-top: 80px; */
  z-index: auto;
}

.inputBox{
  top: 333px;
  left: 86px;
  width: 428px;
  height: 49px;
  background: #FFFFFF;
  border:2px solid #FF8500;
  border-radius: 10px;
  opacity: 1;
  margin-bottom: 6px;
  outline: none;
}

.close {
  color: Black;
  width:36px;
  height:36px;
  opacity: 1;
  margin:15px;
  text-align: center;
  border-radius: 50%;
  background-image: url('../../images/closeIcon.png');
  background-size: cover;
  background-position: center;
}