.cellOuterWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: dashed;
  /* border-top: solid; */
  /* border-color: #f26522; */
  /* border-width: 1px; */
  width: 25%;
  height: 100%;
}
.cellOuterWrapper2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: dashed;
  /* border-top: solid; */
  /* border-color: #f26522; */
  /* border-width: 1px; */
  /* width: 25%; */
  /* width: 80%; */
  /* max-width: 80%; */
  margin-right: 60px;
  height: 100%;
}

.cellInnerWrapper {
  align-self: flex-start;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 5px 5px;    
  height: 100%;
}
.cellInnerWrapper2 {
  align-self: flex-start;
  overflow: hidden;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  box-sizing: border-box;
  padding: 5px 5px;    
  height: 100%;
}

.cellContent {
  /* text-align: center; */
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: 600;
  /* border: solid; */
  /* border-top: solid;
  border-color: #f26522;
  border-width: 1px; */
  /* height: 70px; */
  width: 100%;
}
.cellContent2 {
  /* text-align: center; */
  text-overflow: ellipsis;
  /* overflow: hidden; */
  font-size: 26px;
  font-weight: bold;
  padding-left: 20px;
  /* border: solid; */
  /* border-top: solid;
  border-color: #f26522;
  border-width: 1px; */
  /* height: 70px; */
  width: 100%;
}