.cellOuterWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: dashed; */
  /* border-top: solid; */
  /* border-color: #f26522; */
  /* border-width: 1px; */
  width: 25%;
  height: 100%;
}
.cellOuterWrapper2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: dashed;
  /* border-top: solid; */
  /* border-color: #f26522; */
  /* border-width: 1px; */
  /* width: 25%; */
  /* width: 80%; */
  /* max-width: 80%; */
  margin-right: 50px;
  height: 100%;
}

.cellInnerWrapper {
  align-self: flex-start;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 5px 5px;    
  height: 100%;
}
.cellInnerWrapper2 {
  align-self: flex-start;
  overflow: hidden;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  box-sizing: border-box;
  padding: 5px 5px;    
  height: 100%;
}

.cellContent {
  /* text-align: center; */
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: 600;
  /* border: solid; */
  /* border-top: solid;
  border-color: #f26522;
  border-width: 1px; */
  /* height: 70px; */
  width: 100%;
}
.cellContent2 {
  /* text-align: center; */
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 26px;
  font-weight: bold;
  padding-left: 20px;
  /* border: solid; */
  /* border-top: solid;
  border-color: #f26522;
  border-width: 1px; */
  /* height: 70px; */
  width: 100%;
}
.cellContentOrange {
  /* text-align: center; */
  color: #f26522;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: 600;
  /* border: solid; */
  /* border-top: solid;
  border-color: #f26522;
  border-width: 1px; */
  /* height: 70px; */
  width: 100%;
}

.CML_OuterWrapper {
  /* border: dashed; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 50%;
  max-width: 152px;
  height: 100%;
}
.CML_OuterWrapper2 {
  /* border: dashed; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 50%;
  max-width: 171px;
  height: 100%;
}
.CML_InnerWrapper {
  align-self: flex-start;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* padding: 5px 5px;     */
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
}
.createModalLabel {
  width: 100%;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  /* border: inset; */
  color: #f26522;
  /* padding-left: 20px; */
}
/* .createModalLabel {
  width: 50%;
  border: inset;
  color: #f26522;
  display: flex;
  align-items: center;
  padding-left: 20px;
} */
.createModalDropdownWrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 20px;
  width: 50%;
  flex-grow: 1;
  /* border: inset; */
}
.createModalInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 20px;
  width: 50%;
  flex-grow: 1;
  /* border: inset; */
}
.createModalInput {
  font-weight: 600;
  height: 40px;
  border: solid;
  border-width: 2px;
  width: 100%;
  border-color: #ADADAD;
  text-align: center;
}
.createModalDropdown {
  position: relative;
  font-weight: 600;
  height: 40px;
  border: solid;
  border-width: 2px;
  width: 100%;
  border-color: #ADADAD;
  text-align: center;
  cursor: pointer;
}

.createModalDropdownButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  height: 40px;
  border-bottom: solid;
  border-width: 2px;
  border-color: #ADADAD;
}
.createModalDropdownButton:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #F8BB17;
  height: 40px;
  border-bottom: solid;
  border-width: 2px;
  border-color: #ADADAD;
}

.createModalSection {
  /* border: solid; */
  width: 100%;
  height: 60px;
  display: inline-flex;
}

.grayArrowDown {
  /* border: solid 1px; */
  position: absolute;
  right: 5px;
  background-image: url('../../../images/gray_arrow_down.png');
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin-top: 8px;
  cursor: pointer;
}
.grayArrowUp {
  /* border: solid 1px; */
  position: absolute;
  right: 9px;
  background-image: url('../../../images/gray_arrow_down.png');
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin-top: 12px;
  transform: rotate(180deg);
  cursor: pointer;
}

.centeringWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}